.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.header {
  max-width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid black; */
}

.head {
  margin-bottom: 3rem;
}

.quote {
  font-size: large;
}

.author {
  font-size: medium;
}

.button {
  margin-top: 3rem;
}
