.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
}

.head {
  margin-bottom: 3rem;
}

.quote {
  font-size: large;
}

.author {
  font-size: medium;
}

.button {
  margin-top: 3rem;
}
